<div layout='row' layout-wrap layout-padding class='top-margin'>
    <div flex='100' class='text' ng-class="{'text-xs': screenIsExtraSmall == true, 'text-sm': screenIsSmall == true}">

            Hit Me Up

    </div>
    <div flex-offset='20' flex='60' layout-align='center center' layout='row'>
        <div>
            <md-button ng-href='tel:321-271-1384'>Phone</md-button>
            <md-tooltip>321-271-1384</md-tooltip>
        </div>
        <div>
            <md-button ng-href='mailto:ejf1990@gmail.com'>Email</md-button>
            <md-tooltip>ejf1990@gmail.com</md-tooltip>
        </div>
        <div>
            <md-button ng-href='https://www.linkedin.com/in/evan-freymiller-3a41164a/' target='_blank'>Linkedin</md-button>
            <md-tooltip>https://www.linkedin.com/in/evan-freymiller-3a41164a/</md-tooltip>
        </div>
    </div>
    <div flex-offset='20' flex='60' layout-align='center center' layout='row'>
        <div>
            <md-button ng-href='https://evanfreymiller.herokuapp.com/app/content/evanfreymiller2017resume.pdf'>Résumé</md-button>
            <md-tooltip>Evan Freymiller</md-tooltip>
        </div>

    </div>
</div>